.dynamic-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    margin: 1rem;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1.2rem;
    gap: 20px;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}