.nav-link {
    text-decoration: none;
    color: var(--link-color);
    /* font-weight: bold; */
    transition: all 0.2s ease;
    display: inline-block;
}

.nav-link:hover {
    color: var(--hover-link-color);
}