.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--background-color);
}

.main-header .nav-link {
  position: relative;
  font-size: 3rem;
  font-weight: bolder;
}

.sub-header .nav-link {
  font-size: 1.5rem;
  font-weight: 500;
}